:root {
  --primary: #A03037;
  --primary-lighter: #C03A2B;
  --white: #fff;
}

* {
  font-size: 12px;
}

.form-label {
  font-size: 12px;
  font-weight: 600;
}

.btn.btn-primary {
  background-color: var(--primary);
  border: none;
}

.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:visited,
.btn:focus-visible {
  background-color: var(--primary-lighter) !important;
  border: none !important;
  outline: none;
  box-shadow: none !important;
}